 <!-- form handling -->
 <form action="/lnf/raisepost" method="POST" id="add_user" enctype="multipart/form-data">
    <div class="new_user">
        <div class="form-group">
            <label for="title" class="text-light">Title</label>
            
            <input type="text" name="title" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="date" class="text-light">Date</label>
            <input type="text" name="date" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="category" class="text-light">Category</label>
            <input type="text" name="category" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="location" class="text-light">Location</label>
            <input type="text" name="location" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="phonenumber" class="text-light">Phone Number</label>
            <input type="text" name="phonenumber" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="description" class="text-light">Description</label>
            <input type="text" name="description" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="image" class="text-light">Image</label>
            <input type="file" name="image" id="image" value="" placeholder="">
        </div>
        <!-- <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" >
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female" >
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div> -->

        <!-- <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" >
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive" >
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div> -->

        <div class="form-group">
            <button type="submit" class="btn text-dark update" >Save</button>
        </div>

    </div>
</form>